@font-face {
	font-family: Inconsolata;
	src: url(Inconsolata.otf);
}

body {
	font-family: "Inconsolata", Arial, Serif;
}

* {
	outline: none !important;
	text-shadow: none !important;
	font-family: "Inconsolata", Arial, Serif;
}

a {
	font-family: "Inconsolata", Arial, Serif!important;
	font-size: 230% !important;
}

.ui-input-text input::-moz-placeholder, .ui-input-search input::-moz-placeholder, textarea.ui-input-text::-moz-placeholder {
	color:#000; font-family: "Inconsolata", Arial, Serif; font-size: 100%; line-height: 3;
}
.ui-input-text input::-webkit-input-placeholder, .ui-input-search input::-webkit-input-placeholder, textarea.ui-input-text::-webkit-input-placeholder {
	color:#000; font-family: "Inconsolata", Arial, Serif; font-size: 100%; line-height: 3;
}
.ui-input-text input:-moz-placeholder, .ui-input-search input:-moz-placeholder, textarea.ui-input-text:-moz-placeholder {
	color:#000; font-family: "Inconsolata", Arial, Serif; font-size: 100%; line-height: 3;
}
.ui-input-text input:-ms-input-placeholder , .ui-input-search input:-ms-input-placeholder , textarea.ui-input-text:-ms-input-placeholder  {
	color:#000; font-family: "Inconsolata", Arial, Serif; font-size: 100%; line-height: 3;
}

#home input#phone-number::-placeholder { font-style: italic; font-size: 90%; letter-spacing: -2px; line-height: 3; }
#home input#phone-number::-moz-placeholder { font-style: italic; font-size: 90%; letter-spacing: -2px; line-height: 3; }
#home input#phone-number::-webkit-input-placeholder { font-style: italic; font-size: 90%; letter-spacing: -2px; line-height: 3; }
#home input#phone-number:-moz-placeholder { font-style: italic; font-size: 90%; letter-spacing: -2px; line-height: 3; }
#home input#phone-number:-ms-input-placeholder { font-style: italic; font-size: 90%; letter-spacing: -2px; line-height: 3;}

#first, #home, #navigate, #info, #thank-you, #navigate-to-user, #navigation {
	width: 100%;
	text-align: center;
}

.clear-both {
	clear: both;
	float: none;
}

h1, h2, p {
	margin: 0;
	padding: 0;
	font-weight: normal!important;
}

/* ==============================================

			UNREGISTERED SECTION
				
============================================== */


#home {
	text-align: center;
	padding-bottom: 30px;
}

#home .ui-body-inherit {
	background:  none;
	border: none;
	color: rgb(51, 51, 51);
	text-shadow: none;
}

#first .middle-section img, #home .middle-section img, #thank-you .middle-section img, #deregistration-thank-you  .middle-section img {
	width: 90%;
	height: auto;
	/* background-size: cover; */
	margin: 0px auto;
	max-width: 800px;
	position: relative;
	margin-top: 30%;
}

#first .middle-section img {
	margin-top: 50%;
}

#first, #home, #thank-you, #deregistration-thank-you {
	background: url(../img/front-page-background2.jpg) no-repeat;
	width: 100%;
	height: auto;
	background-size: cover;
}

#first h1 {
	color: #fff;
	text-align: center;
	margin-top: 0%;
	font-size: 500%!important;
	font-style: italic;
	font-weight: bold;
}

#home .middle-text, #thank-you .middle-text, #deregistration-thank-you .middle-text {
	margin: 10% 15px 0 15px;
	line-height: 1.5;
	text-align: center;
}

#home .middle-text label, #thank-you p, #settings p, #deregistration-thank-you p  {
	font-size: 230%;
	color: #fbfbfb;
	font-weight: normal;
}

#home .middle-text em {
	color: #4c255d;
	font-style: normal;
	text-transform: uppercase;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 3px 5px;
}

#home .middle-text em i {
	color: #d55c4b;
	font-weight: bold;
	font-style: normal;
}

#home .middle-text input {
	width: 80%;
	border-radius: 0 20px 20px 0; /* Ltop Rtop Rdown Ldown */
	height: 60px;
	border: none;
	outline: none;
	padding: 0px 15px;
	margin-top: 10%;
	border: 5px solid rgba(0,0,0,0.1) outset;
	background: rgb(255, 255, 255);
	font-size: 200%;
	color: #aaaaaa;
	position: relative;
	font-family: "Inconsolata", Arial, Serif;
	line-height: 60px;

}

#home .middle-text .ui-state-disabled {
	background-color: #000;
	opacity: 0.8;
	margin-top: 15%;
}

#home .middle-text input#country-code {
	width: 15%;
	border-radius: 20px 0px 0px 20px;
	min-width: 20px;
	float: left;
	margin-top: 0;
	font-family: "Inconsolata", Arial, Serif;
	font-weight: lighter;
}

#home .middle-text form {
	width: 80%;
	margin: 0px auto;
}

#home .middle-text div.ui-input-text {
    padding: 0px;
}

#home .middle-text .ui-shadow-inset {
    box-shadow: none;
}

#home .middle-text input:focus {
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.5) inset;	
}

#home .middle-text a, #thank-you .middle-text a, #settings .deregister {
	border-radius: 20px;
	background: #f7c842;
	color: #4c255d;
	text-decoration: none;
	margin: 5% auto 0 auto;
	border: none;
	width: 200px;
	line-height: 1.5;
	font-size: 230%!important;
	text-transform: uppercase;
}

#home .middle-text a, #thank-you .middle-text a {
	line-height: 3;
}

#home .middle-text a {
	width: 240px;
}	

#home .middle-text a:focus, #thank-you .middle-text a:focus, #settings .deregister:focus {
	background: #d55c4b;
	box-shadow: none;
	color: #fff;
}

#home .middle-text input.error-shadow {
	-moz-box-shadow:    0 0 7px #FF0000 inset;
	-webkit-box-shadow: 0 0 7px #FF0000 inset;
	box-shadow:         0 0 7px #FF0000 inset;
}

#home .middle-text input.success-shadow {
	-moz-box-shadow:    0 0 7px #00a651 inset;
	-webkit-box-shadow: 0 0 7px #00a651 inset;
	box-shadow:         0 0 7px #00a651 inset;
}

#home .middle-text input.no-shadow {
	-moz-box-shadow:   0;
	-webkit-box-shadow: 0;
	box-shadow:         0;
}

#settings, #recent-contacts, #contact-listing, #navigation, #navigate-to-user, #thank-you {
	background-color: #fbfbfb;
	padding-bottom: 30px;
}

/* ==============================================

        COMMON SECTION FOR DIRECORY, 
		RECENT VISITS AND SETTING
				
============================================== */

.ui-content {
	padding: 0;
}

.top-header {
	text-align: center;
	background-color: #4c255d!important; /* header background color */
	padding: 0;
	border: none;
	border-bottom: 1px solid #b2b2b2;
	overflow: hidden;
}

.top-header img {
	width: 60px;
	height: auto;
	padding-top: 10px;
	clear: both;
}

/* body */

.top-header ul {
	width: 100%;
	background: #f8c941;
	list-style: none outside none;
	overflow: hidden;
	padding: 0;
	margin: 5px 0 0 0;
}

.top-header ul li {
	border-right: 1px solid #ddb235;
    float: left;
    height: 80px;
    padding: 10px 0;
    text-align: center;
    width: 33.2%;
	cursor: pointer;
}

.top-header ul li:hover {
	background: #ddb235;
}

.top-header ul li:last-child {
	border-right: 0;
}

.top-header ul li a {
	width: 100%;
	box-shadow : none!important;
	display: block;
	overflow: hidden;
	padding: 0;
	margin: 0;
	border: 0!important;
}

.top-header ul li a:last-child {
	border-right: 0;
}

/* remove black circle from middle */
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after   {
	background-color: rgba(0,0,0,0);
}

.top-header ul li.active-page, .top-header ul li.active-page:hover {
	background-color: #d55c4b;
}
		
		#ui-directory, #ui-recent, #ui-settings {
			width: 101px;
			height: 79px;
			display: block;
			margin: 0px auto;
					
		}

			#ui-directory {
				background: url(../img/user-icon.png) no-repeat 0 0px; 
			}
			
			#ui-recent {
				background: url("../img/recent-contact-icon.png") no-repeat  0 0px;
				width: 79px;
			}
			
			#ui-settings {
			   background: url("../img/user-setting-icon.png") no-repeat  0 0px;
			   width: 79px;
			   	
			}
	
/* ==============================================

			LISTING CONTACTS
				
============================================== */

#inner-contents {
	background: #fbfbfb;
	text-align: center;
	color: #171717;
	text-shadow: none;
}

/* remove box-shadow */

#input-contents form-ui-filterable .ui-input-search .ui-focus:focus input, #input-contents form-ui-filterable .ui-input-search .ui-focus input, .ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus   {
	box-shadow: none!important;
	line-height: 50px;
}

#inner-contents ul {
	margin: 0px 15px;
}

#inner-contents ul li {
	text-align: left;
	display: block;
	border-bottom: 1px solid #b2b2b2;
}

#inner-contents ul li .ui-btn {
	margin: 0;
}

#inner-contents .ui-listview > .ui-li-static, #inner-contents .ui-listview > .ui-li-divider, #inner-contents .ui-listview > li > a.ui-btn {
	border: none;
}

#inner-contents .ui-btn-icon-notext:after, #inner-contents .ui-btn-icon-left:after, #inner-contents .ui-btn-icon-right:after {
    margin-top: 0px;
    top: 40%;
}

#inner-contents ul li a{
	display: block;
	text-align: left;
	padding-left: 10px;
	line-height: 3;
	color: #171717;
	text-decoration: none;
	font-weight: normal;
	text-shadow: none;
	background: #fbfbfb;
	border-bottom: 1px solid #b2b2b2;
}

#inner-contents .ui-listview .ui-btn-text {
	max-width: 100%;
	width: 50%;
}

#inner-contents ul li:nth-child(2n) a {
	background: #f0f0f0;
}

#inner-contents li .ui-btn:focus, #inner-contents li a:focus{
	border: none;
	text-shadow: none;
	box-shadow: 0px 1px 10px rgba(76, 37, 96, 0.5);
	color: #4C2560;
}

#inner-contents .padding15 {
	padding: 10% 15px 10% 15px;
}

#inner-contents .ui-btn-icon-left:after, #inner-contents  .ui-btn-icon-right:after, #inner-contents  .ui-btn-icon-top:after, #inner-contents  .ui-btn-icon-bottom:after, #inner-contents  .ui-btn-icon-notext:after {
    height: 32px;
    width: 32px;
	background-color: #4C2560;
}

#inner-contents .ui-input-search a {
	display: none;
}

/* ==============================================

			FOOTER S
				
============================================== */

#fren-position .ui-footer  li:first-child a {
	background-color: #d55c4b;
	color: #fff;
}

#fren-position .ui-footer  li:last-child a {
	background-color: #4C2560;
	color: #fff;
}




/* ==============================================

				RECENT VISITS
				
============================================== */

#recent-contacts #inner-contents .ui-btn, #recent-contacts #inner-contents  .ui-btn-active {
	height: 150px;	
} 

#recent-contacts p, #recent-contacts h2 {
	margin-left: 120px;
	line-height: 1;
}

#recent-contacts p {
	font-family: "Arial", san-serif;
	padding-bottom: 20px;
	font-size: 80%;
}

#recent-contacts h2 {
	color: #4c255d;
	margin-left: 120px;
    margin-top: 30px;
	line-height: 1;
}

#recent-contacts p i {
	font-style: normal;
	color: #3d3d3d;
} 

#recent-contacts .incoming h2 {
	color: #4ac083;
}

#inner-contents .incoming .ui-btn-icon-notext:after, #inner-contents .incoming .ui-btn-icon-left:after, #inner-contents .incoming .ui-btn-icon-right:after {
		background-color: #4ac083;
	}

#recent-contacts  #inner-contents ul img {
	float: left;
	width: 100px;
	height: 100px;
	margin: 20px 10px 20px 0;
}

#fixed-header {
	z-index: 101;
	margin-bottom: 20px;
	width: 100%;
	top: 0;
}

/* ==============================================

				SETTINGS PAGE
				
============================================== */

#settings p {
	color: #171717;
}

#settings  a.deregister {
	width: 300px;
	line-height: 2.5;
	margin: 0px auto;
}

#settings p em {
	color: #4c255d;
	font-style: normal;
	text-transform: uppercase;
	padding: 3px 5px;
}

#settings p b {
	color: #4c255d;
	font-style: bold;
	text-transform: uppercase;
	text-decoration: underline;
}

#deregistration-thank-you .middle-section, #deregistration-thank-you .clear-both {
	text-align: center;
}

#deregistration-thank-you img {
	margin: 0 auto;
}

#settings .confirm-button {
	width: 40%;
	float: left;
	padding-right: 10%;
}

#settings .confirm-button:last-child {
	padding-right: 0;
}

#settings .ui-bar-a {
	background: #4C2560;
	color: #fbfbfb;
	font-size: 100%;
}

#inner-contents .ui-popup.ui-content {
	width: 90%;
}

#settings .ui-popup .ui-content, #inner-contents .deregistration-box {
	padding: 30px;
	box-sizing: padding-box;
	overflow: hidden;
}

#settings h3 , #settings h1, #first h1{
	font-size: 220%;
	font-weight: normal;
}

#settings #popupDialog {
	width: 80%;
	margin: 0px auto;
}

#settings .ui-popup-screen.in {
	width: 100%;
	height: 100%;
	overflow: hidden;
}	

#settings .ui-popup p {
	font-size: 150%;
	color: #d55c4b;
	padding-bottom: 20px;
}

#settings .deregistration-box a {
	border-radius: 10px;
	float: left;
	line-height: 1;
	width: 35%;
	padding: 3% 5%; 
	margin: 0;
}

#settings .deregistration-box a:last-child {
	background: #f7c842;
	color: #4c255d;
	text-decoration: none;
	text-transform: uppercase;
	float: right;
}


/* ==============================================

			DEREGISTRATION PAGE
				
============================================== */

#deregistration-thank-you img {
	margin-top: 40%;
}

/* ==============================================

			NAVIGATION PAGE
				
============================================== */

#map_canvas{
	background: #f9f9f9;
	border: 1px solid rgba(0, 0, 0, 0.1);
	clear: both;
	float: none;
	width: 96%!important;
	height: auto;
	margin: 2% auto 2% auto;
}

#map-navigation .navigate-buttons .ui-btn:hover {
	background: #4c255d;
	color: #fff;
}

#map-navigation .ui-navbar {
	text-align: center;
}

#map-navigation .ui-block-a {
	margin: 0;
}

#map-navigation a {
	margin: 0px auto;
	float: none;
	clear: both;
	color: #FFF;
	width: 100%;
	height: 100px;
	line-height: 100px;
	background-color: #4c255d!important; /* header background color */
	padding: 0;
	margin: 0!important;
	border: 0;
	border-top: 1px solid #b2b2b2;
}


/* ==============================================

			MEDIA QUERIES
				
============================================== */

@media (min-width: 601px){

	#home .middle-text input {
		border-radius: 0px 30px 30px 0px;
		padding-top: 10px;
	}
	
	#home .middle-text input#country-code {
		width: 20%;
		max-width: 100px;
		border-radius: 30px 0 0 30px;
	}
	
	#home .middle-text a, #thank-you .middle-text a, #settings .deregister {
		border-radius: 50px;
		height: 40px;
		line-height: 40px;
	}
	
	
	#settings a.deregister {
		line-height: 1;
	}
	
	#map_canvas{
		height: 1000px;
	}

}

@media (max-width: 600px) {

	#home .middle-text label, #thank-you p, #settings p, #deregistration-thank-you p  {
		font-size: 180%;
	}
	
	#home .middle-text input {
		border-radius: 0px 30px 30px 0px;
		height: 40px;
		font-size: 180%;
		line-height: 40px;
	}

	
	#home .middle-text input#country-code {
		width: 20%;
		border-radius: 30px 0px 0px 30px;
	}
	
	#home .middle-section img, #thank-you .middle-section img, #deregistration-thank-you  .middle-section img {
		margin-top: 20%;
	}
	
	#home .middle-text a, #thank-you .middle-text a, #settings .deregister {
		border-radius: 30px;
		width: 180px;
		font-size: 150%!important;
		line-height: 40px;
		height: 40px;
	}
	
	#map_canvas{
		height: 700px;
	}
	
	#list-view p {
		font-size: 150%;
	}
}

@media (max-width: 500px) {

	#home .middle-text label, #thank-you p, #settings p, #deregistration-thank-you p  {
		font-size: 100%;
	}
	
	#home .middle-text input {
		width: 80%;
		border-radius: 0px 20px 20px 0px;
		font-size: 100%;
		height: 30px;
		line-height: 30px;
	}
	
	#home .middle-text input#country-code {
		width: 20%;
		border-radius: 20px 0px 0px 20px;
		max-width: 60px;
	}
	
	#home .middle-section img, #thank-you .middle-section img, #deregistration-thank-you  .middle-section img {
		margin-top: 20%;
	}
	
	#home .middle-text a, #thank-you .middle-text a, #settings .deregister {
		border-radius: 20px;
		width: 130px!important;
		font-size: 100%!important;
		line-height: 30px;
		height: 30px;
	}
	
	#recent-contacts #inner-contents ul img {
		height: 60px;
		width: 60px;
	}
	
	#recent-contacts p, #recent-contacts h2 { 
		margin-left: 50px;
    }
	
    #recent-contacts .ui-listview > li h2{  
		font-size: 0.6em;
		font-weight: bold;
	}
	
	#recent-contacts p {
		font-size: 0.3em;
	}
	
	#inner-contents .ui-btn-icon-notext:after, #inner-contents .ui-btn-icon-left:after, #inner-contents .ui-btn-icon-right:after {
		top: 20%;
	}
	
	#recent-contacts #inner-contents .ui-btn, #recent-contacts #inner-contents .ui-btn-active {
		height: 80px;
	}
	
	#recent-contacts #inner-contents li {
		height: auto;
		margin: 0;
		max-height: 100px;
		overflow: hidden;
		padding: 0;
	}
	
	#map_canvas{
		height: 500px;
	}
}